<section id="user-detail" class="scroll-page bg-white">
  <div class="page-header">
    <h1>User info</h1>
  </div>
  <table>
    <tr>
      <th>Address</th>
      <td><%= current_user.email %></td>
    </tr>
    <tr>
      <th>Name</th>
      <td><%= current_user.name %></td>
    </tr>
  </table>
</section>
